body {
    background-color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: grey;
    text-decoration: underline;
}
